<h1> bilhin na ang <%= params[:search] || params[:domain_name] || params[:bought_domain] %></h1>

<h2><%= @new_domain %></h2>

  <p style="margin-bottom: 5px">
  <input disabled type="text" id="domain" value=<%= params[:search] %>>
  <select name="" id="period">
    <option>1 yr </option>
    <option>2 yrs </option>
    <option>5 yrs </option>
    <option>10 yrs </option>
  </select>
  </p>

  <label for="">email</label>
  <input type="text" id="emailinput">

  <div id="paypal-checkout"></div>
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
  <script>
    paypal.Button.render({
      env: "sandbox",
      client: {
        sandbox: "AW4I8tHeTC_xdRHrcvpgD2RgBHC-QlhnNO3uP_ZyUjpCanJbxbMvM3qI9nbnSv2ZtrMf_jNOZMuJV055"
      },
      style: {
        layout: 'vertical',
        size:  'medium',
        shape: 'rect',
        color: 'blue',
      },
      commit: true,
      funding: {
        allowed: [paypal.FUNDING.CARD],
        disallowed: [paypal.FUNDING.CREDIT]
      },
      payment: function(data, actions) {
        domain = document.getElementById("domain").value;
        period = document.getElementById("period").value;
        email = document.getElementById("emailinput").value;

        params = {domain: domain,period: period,emailrep: email};

        createPath = "http://localhost:3000/payment/create"
        return actions.request.post(createPath, params).then(function(response) {
          return response.id;
        });
      },
      onAuthorize: function(data, actions) {

        domain = document.getElementById("domain").value;
        period = document.getElementById("period").value;


        params = {payment_id: data.paymentID, payer_id: data.payerID, domain: domain, period: period }

        executePath = "http://localhost:3000/payment/execute"
        return actions.request.post(executePath, params).then(function(response) {
          payer_id = response.user_id;
          user_id = response.order_num
          
          if (response.payment_state == "approved") {
            javascript:window.location.href = `http://localhost:3000/registrants/show?bought_domain=${domain}&span=${period}&payer=${payer_id}&user=${user_id}` // Replace this with your successful registration page
            
          }
        });
      },
      onError: function (err) {
        alert('Error!');
      }
    }, '#paypal-checkout');

  </script>





