
<h1>Ang iyong binili </h1>

<table>
  <tr>
    <th>Domain Name</th>
    <th>Period</th>
    <th>Payer</th>
    <th>user_id</th>
  </tr>
  <tr>
    <td><%= params[:bought_domain] %></td>
    <td><%= params[:span] %></td>
    <td><%= params[:payer]%></td>
    <td><%= params[:user]%></td>
  </tr>
</table>